:root {
  //containers backgrounds
  --bg-slate-700: hsl(215, 28%, 17%);
  --bg-slate-300: hsl(220, 13%, 91%);
  //buttons backgrounds
  --bg-blue-400: hsl(217, 91%, 59%);
  //font colors
  --fc-dark-900: hsl(215, 28%, 17%);
  --fc-grey-50: hsl(210, 20%, 98%);
  --fc-grey-100: hsl(220, 13%, 91%);
}
