.container {
  width: 59.375rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 0.625rem;
}

.hero,
header {
  background-color: var(--bg-slate-700);
  color: var(--fc-grey-50);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  column-gap: 24px;
}

.hero .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1.5rem;
  align-items: center;
}

.hero .container > * {
  flex: 1 1 50%;
}

.hero__title {
  margin-bottom: 5px;
  font-size: 3rem;
}

.hero__subtitle,
.navbar {
  font-size: 1.125rem;
  color: var(--fc-grey-100);
}

.hero__btn {
  padding: 0.625rem 2rem;
  border: 0 solid;
  border-radius: 0.3125rem;
  color: var(--fc-grey-50);
  background-color: var(--bg-blue-400);
  font-size: 1rem;
  font-weight: 700;
}

.hero__image {
  padding: 7rem;
  text-align: center;
  background-color: slategray;
}

.random-infos {
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 3rem;
}

.info-list {
  display: flex;
  column-gap: 3.125rem;
  justify-content: center;
}

.info__item {
  width: 9.375rem;
}

.info__image {
  margin-bottom: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--fc-grey-100);
  border: 3px solid var(--bg-blue-400);
  border-radius: 0.5rem;
}
