html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0deg, 0%, 6%);
}

:root {
  --bg-slate-700: hsl(215, 28%, 17%);
  --bg-slate-300: hsl(220, 13%, 91%);
  --bg-blue-400: hsl(217, 91%, 59%);
  --fc-dark-900: hsl(215, 28%, 17%);
  --fc-grey-50: hsl(210, 20%, 98%);
  --fc-grey-100: hsl(220, 13%, 91%);
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 59.375rem;
  margin-left: auto;
  margin-right: auto;
}
.container.vw-100 {
  width: 100%;
}

header {
  padding-top: 0.625rem;
}

.hero,
header {
  background-color: var(--bg-slate-700);
  color: var(--fc-grey-50);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.hero .container {
  padding-top: 6rem;
  padding-bottom: 9rem;
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  align-items: center;
}

.hero .container > * {
  flex: 1;
}

.hero__title {
  margin-bottom: 5px;
  font-size: 3rem;
}

.hero__subtitle,
.navbar {
  font-size: 1.125rem;
  color: var(--fc-grey-100);
}

.hero__btn {
  padding: 0.625rem 2rem;
  border: 0 solid;
  border-radius: 0.5rem;
  color: var(--fc-grey-50);
  background-color: var(--bg-blue-400);
  font-size: 1rem;
  font-weight: 700;
}

.hero__image {
  padding: 6.5rem 0.25rem;
  text-align: center;
  background-color: slategray;
}

.random-infos {
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
}

h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.info-list {
  display: flex;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
  justify-content: center;
}

.info__item {
  width: 9.375rem;
}

.info__image {
  margin-bottom: 0.625rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--fc-grey-100);
  border: 3px solid var(--bg-blue-400);
  border-radius: 0.5rem;
}

.quotes {
  background-color: var(--fc-grey-100);
}

.quotes .container {
  padding: 7rem 7rem 5rem 7rem;
}

.quote__message {
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 100;
}

.quote__author {
  margin-right: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

.call-action {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
  padding: 3rem 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fc-grey-50);
  background-color: var(--bg-blue-400);
  border-radius: 0.5rem;
}

.call__text p:first-child {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.call__text p:nth-child(2) {
  color: var(--fc-grey-100);
  margin-bottom: 0;
}

.call__button {
  height: 2.5rem;
  padding-right: 2.125rem;
  padding-left: 2.125rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--fc-grey-50);
  border: 2px solid var(--fc-grey-50);
  border-radius: 0.5rem;
  background-color: var(--bg-blue-400);
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--fc-grey-100);
  background-color: var(--bg-slate-700);
}/*# sourceMappingURL=main.css.map */